<h1>Détails de la catégorie</h1>
    
<p><strong>ID :</strong> {{ categorie_depense.id_categorie }}</p>
<p><strong>Description :</strong> {{ categorie_depense.description }} {{ categorie_depense.limite}} €</p>  

<a href="{{ url_for('categorie_depense.modifier_categorie_depense', id_categorie=categorie_depense.id_categorie) }}">Modifier cette catégorie de dépense</a>
<a href="{{ url_for('categorie_depense.supprimer_categorie_depense', id_categorie=categorie_depense.id_categorie) }}">Supprimer cette catégorie de dépense</a>
<a href="{{ url_for('utilisateur.profil') }}">Retour</a>