{% extends "base.html" %}

{% block title %}Connexion{% endblock %}

{% block content %}


<div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
  <div class="card bg-black text-white p-4 w-100" style="max-width: 400px;">
    <h1 class="text-center mb-4">Connexion</h1>

    <form method="post">
      <div class="mb-3">
        <label for="email" class="form-label">Email :</label>
        <input type="email" class="form-control" name="email" id="email" required>
      </div>

      <div class="mb-3">
        <label for="mot_de_passe" class="form-label">Mot de passe :</label>
        <input type="password" class="form-control" name="mot_de_passe" id="mot_de_passe" required>
      </div>

      <div class="d-grid mb-3">
        <button type="submit" class="btn btn-primary">Se connecter</button>
      </div>
    </form>

    <div class="text-center">
      <a href="{{ url_for('utilisateur.inscription') }}" class="text-decoration-none text-info">S'inscrire</a>
    </div>
  </div>
</div>
{% endblock %}
