<h1>Inscription</h1>

{% if erreur %}
    <p>{{ erreur }}</p>
{% endif %}

<form method="POST" action="{{ url_for('utilisateur.inscription') }}">
    <div class="form-group">
        <label for="nom">Nom :</label>
        <input type="text" id="nom" name="nom" required>
    </div>
    <div class="form-group">
        <label for="prenom">Prénom :</label>
        <input type="text" id="prenom" name="prenom" required>
    </div>
    <div class="form-group">
        <label for="email">Email :</label>
        <input type="email" id="email" name="email" required>
    </div>
    <div class="form-group">
        <label for="mot_de_passe">Mot de passe :</label>
        <input type="password" id="mot_de_passe" name="mot_de_passe" required>
    </div>
    <div class="form-group">
        <label for="mot_de_passe_confirmation">confimer le mot de passe :</label>
        <input type="password" id="mot_de_passe_confirmation" name="mot_de_passe_confirmation" required>
    </div>

    <button type="submit">S'inscrire</button>
</form>

<div class="login-link">
    Vous avez déjà un compte ? <a href="{{ url_for('utilisateur.accueil') }}">Connectez-vous ici</a>
</div>